<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="ownFile-web" fileName="${basedir}\..\..\LogFiles\Application\${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}"/>

        <!-- Uncomment to enable console logging -->
        <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="ownFile-web"/>

        <!-- Uncomment to output hosting lifetime messages to console target -->
        <!-- <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" /> -->

        <logger name="Microsoft.*" maxlevel="Info" final="true"/>
        <logger name="System.Net.Http.*" maxlevel="Info" final="true"/>
    </rules>
</nlog>
